<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a la Gestión de Productos</h1>
        <nav>
            <ul>
                <li><a href="register.html">Registrar Producto</a></li>
                <li><a href="search.html">Buscar Producto</a></li>
                <li><a href="update.html">Actualizar Producto</a></li>
                <li><a href="delete.html">Eliminar Producto</a></li>
                <li><a href="list.html">Listar Productos</a></li>
                <li><a href="list.html">Reporte de Bajo Stock</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Descripción de la Aplicación</h2>
            <p>Esta aplicación permite gestionar un inventario de productos, facilitando el registro, búsqueda, actualización y eliminación de productos.</p>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Gestión de Productos. Todos los derechos reservados.</p>
            <p>Desarrollado por Nachos</p>
            <div class="social-media">
            <a href="https://www.linkedin.com/in/nachos" target="_blank">LinkedIn</a> |
            <a href="https://github.com/nachos" target="_blank">GitHub</a> |
            <a href="mailto:nachos@example.com">Email</a>
            </div>
        </div></div>
    </footer>
</body>
</html>